html, body {
    height: 100%;
    margin: 0;
}

.container {
  margin: 0px !important;
  height: 91.8%;
}

#chat {
  height: 100%
}

.sidebar {
  background: #4D394B;
  color: #fff;
  padding: 20px 0 0 0;
}

.sidebar-header {
  height: 5%;
  cursor: pointer;
}

.sidebar-content {
  height: 95%
}

ul {
  list-style-type: none;
  padding:0px;

}

.sidebar ul li:hover {
  background: #3E313C;
  cursor: pointer;
}

.form-control:focus {
	box-shadow: none;
	border-color: #aaaaaa;
}

.btn:focus, .btn.focus {
	box-shadow: none;
}

.input {
  margin:5px;
}

.screen {
  height: 90%
  
}

.mainField {
  padding: 0px;
}
