@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.container {
  padding-left: 0;
  margin-left: 0;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

#sidebar {
    background: #4D394B;
    color: #fff;
}

#sidebar .sidebar-header {
    padding-left: 20px;
    padding-top:20px;
    background: #4D394B;
}

ul {
  list-style-type: none;
  padding:0px;

}

#sidebar ul li{
  padding-left:20px;
  padding-bottom:2px;
}


#sidebar ul li:hover {
  background: #3E313C;
  cursor: pointer;
}
